<!-- Generated template for the HomeComponent component -->
<div>
    <div>
      <div class="kunderLogo">
        <span class="telecom">telecoms</span>
      </div>
      <div>
        <button ion-button icon-only clear class="menuButton"></button>
      </div>
    </div>
  </div>
<content no-padding scroll="false">
  <div class="header1">
    
  </div>
  <app-banner></app-banner>
  <div class="buttons">
    <button class="buttonsHome buttonConsumo">
      <span>Consumo</span>
    </button>
    <button class="buttonsHome buttonPlan">
      <span>Mi Plan</span>
    </button>
    <button class="buttonsHome buttonBolsas">
      <span>Mis bolsas</span>
    </button>
    <button class="buttonsHome buttonBeneficios">
      <span>Beneficios</span>
    </button>
  </div>
</content>
<footer class="informationFooter">
      <a class="shuffleLeft">Sucursales</a>
      <a class="shuffleRight">Consultas</a>
</footer>
